In [1]:
sc

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('master').appName('cacharreo').getOrCreate()

In [4]:
spark

In [5]:
import pandas as pd

/data/conda/envs/python36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [9]:
!ls ./ident_geografica

agarcia@34.253.229.77
alcances-base-cartografica-censo2017.pdf
alfonso@34.253.229.77
CENSO2017_ManzanaEntidad_CSV_Censo2017_Manzanas.csv
Censo2017_ManzanaEntidad_CSV_LEAME.docx
ETL_censo.ipynb
georeferencia
Microdato_Censo2017-Areas.csv
Microdato_Censo2017-Comunas.csv
Microdato_Censo2017-Provincias.csv
Microdato_Censo2017-Regiones.csv
No_usados
Output_censo.csv
Part2.ipynb
Variables.pdf

In [14]:
data = pd.read_table('./ident_geografica/Output_censo.csv', sep=',')
data.head()

,AREA,DC,ZONA_LOCALIDAD,MANZANA_ENTIDAD,ID_ZONA_LOCALIDAD,ID_MANZANA_ENTIDAD,PERSONAS_CENSADAS,HOMBRES,MUJERES,EDAD_0A5,...,INMIGRANTES,PUEBLO_INDIGENA,VIVIENDA_PARTICULAR,VIVIENDA_COLECTIVA,VPOMP,TOTAL_VIVIENDAS,NOMBRE_REGION,NOM_PROVINCIA,NOM_COMUNA,NOM_AREA
0,1,1,1,1,7849,1101011001001,15,NaN,NaN,0.0,...,0.0,0.0,1,2,0,3,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
1,1,1,1,10,7849,1101011001010,70,38.0,32.0,NaN,...,12.0,13.0,17,1,15,18,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
2,1,1,1,11,7849,1101011001011,36,21.0,15.0,NaN,...,11.0,7.0,15,1,15,16,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
3,1,1,1,12,7849,1101011001012,65,34.0,31.0,NaN,...,27.0,4.0,24,0,24,24,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
4,1,1,1,13,7849,1101011001013,39,12.0,27.0,NaN,...,4.0,17.0,11,2,9,13,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO

In [15]:
df = spark.createDataFrame(data)

In [16]:
df.printSchema()

root
 |-- AREA: long (nullable = true)
 |-- DC: long (nullable = true)
 |-- ZONA_LOCALIDAD: long (nullable = true)
 |-- MANZANA_ENTIDAD: long (nullable = true)
 |-- ID_ZONA_LOCALIDAD: long (nullable = true)
 |-- ID_MANZANA_ENTIDAD: long (nullable = true)
 |-- PERSONAS_CENSADAS: long (nullable = true)
 |-- HOMBRES: double (nullable = true)
 |-- MUJERES: double (nullable = true)
 |-- EDAD_0A5: double (nullable = true)
 |-- EDAD_6A14: double (nullable = true)
 |-- EDAD_15A64: double (nullable = true)
 |-- EDAD_65YMAS: double (nullable = true)
 |-- INMIGRANTES: double (nullable = true)
 |-- PUEBLO_INDIGENA: double (nullable = true)
 |-- VIVIENDA_PARTICULAR: long (nullable = true)
 |-- VIVIENDA_COLECTIVA: long (nullable = true)
 |-- VPOMP: long (nullable = true)
 |-- TOTAL_VIVIENDAS: long (nullable = true)
 |-- NOMBRE_REGION: string (nullable = true)
 |-- NOM_PROVINCIA: string (nullable = true)
 |-- NOM_COMUNA: string (nullable = true)
 |-- NOM_AREA: string (nullable = true)

In [11]:
df.first()

Row(PROVINCIA=11, NOM_PROVINCIA='IQUIQUE')

In [12]:
df.head(5)

[Row(PROVINCIA=11, NOM_PROVINCIA='IQUIQUE'),
 Row(PROVINCIA=14, NOM_PROVINCIA='TAMARUGAL'),
 Row(PROVINCIA=21, NOM_PROVINCIA='ANTOFAGASTA'),
 Row(PROVINCIA=22, NOM_PROVINCIA='EL LOA'),
 Row(PROVINCIA=23, NOM_PROVINCIA='TOCOPILLA')]

In [17]:
# Watch it

df.show(2, truncate=True)

+----+---+--------------+---------------+-----------------+------------------+-----------------+-------+-------+--------+---------+----------+-----------+-----------+---------------+-------------------+------------------+-----+---------------+-------------+-------------+----------+--------+
|AREA| DC|ZONA_LOCALIDAD|MANZANA_ENTIDAD|ID_ZONA_LOCALIDAD|ID_MANZANA_ENTIDAD|PERSONAS_CENSADAS|HOMBRES|MUJERES|EDAD_0A5|EDAD_6A14|EDAD_15A64|EDAD_65YMAS|INMIGRANTES|PUEBLO_INDIGENA|VIVIENDA_PARTICULAR|VIVIENDA_COLECTIVA|VPOMP|TOTAL_VIVIENDAS|NOMBRE_REGION|NOM_PROVINCIA|NOM_COMUNA|NOM_AREA|
+----+---+--------------+---------------+-----------------+------------------+-----------------+-------+-------+--------+---------+----------+-----------+-----------+---------------+-------------------+------------------+-----+---------------+-------------+-------------+----------+--------+
|   1|  1|             1|              1|             7849|     1101011001001|               15|    NaN|    NaN|     0.0|      0.0|      15.0|        0.0|        0.0|            0.0|                  1|                 2|    0|              3|     TARAPACÁ|      IQUIQUE|   IQUIQUE|  URBANO|
|   1|  1|             1|             10|             7849|     1101011001010|               70|   38.0|   32.0|     NaN|      NaN|      54.0|       10.0|       12.0|           13.0|                 17|                 1|   15|             18|     TARAPACÁ|      IQUIQUE|   IQUIQUE|  URBANO|
+----+---+--------------+---------------+-----------------+------------------+-----------------+-------+-------+--------+---------+----------+-----------+-----------+---------------+-------------------+------------------+-----+---------------+-------------+-------------+----------+--------+
only showing top 2 rows

In [48]:
#Let's do it prettier:
df.toPandas().head()

,AREA,DC,ZONA_LOCALIDAD,MANZANA_ENTIDAD,ID_ZONA_LOCALIDAD,ID_MANZANA_ENTIDAD,PERSONAS_CENSADAS,HOMBRES,MUJERES,EDAD_0A5,...,INMIGRANTES,PUEBLO_INDIGENA,VIVIENDA_PARTICULAR,VIVIENDA_COLECTIVA,VPOMP,TOTAL_VIVIENDAS,NOMBRE_REGION,NOM_PROVINCIA,NOM_COMUNA,NOM_AREA
0,1,1,1,1,7849,1101011001001,15,NaN,NaN,0.0,...,0.0,0.0,1,2,0,3,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
1,1,1,1,10,7849,1101011001010,70,38.0,32.0,NaN,...,12.0,13.0,17,1,15,18,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
2,1,1,1,11,7849,1101011001011,36,21.0,15.0,NaN,...,11.0,7.0,15,1,15,16,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
3,1,1,1,12,7849,1101011001012,65,34.0,31.0,NaN,...,27.0,4.0,24,0,24,24,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
4,1,1,1,13,7849,1101011001013,39,12.0,27.0,NaN,...,4.0,17.0,11,2,9,13,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO

In [18]:
df.count()

180499

In [19]:
df.columns

['AREA',
 'DC',
 'ZONA_LOCALIDAD',
 'MANZANA_ENTIDAD',
 'ID_ZONA_LOCALIDAD',
 'ID_MANZANA_ENTIDAD',
 'PERSONAS_CENSADAS',
 'HOMBRES',
 'MUJERES',
 'EDAD_0A5',
 'EDAD_6A14',
 'EDAD_15A64',
 'EDAD_65YMAS',
 'INMIGRANTES',
 'PUEBLO_INDIGENA',
 'VIVIENDA_PARTICULAR',
 'VIVIENDA_COLECTIVA',
 'VPOMP',
 'TOTAL_VIVIENDAS',
 'NOMBRE_REGION',
 'NOM_PROVINCIA',
 'NOM_COMUNA',
 'NOM_AREA']

### Show statistics:

In [39]:
df.describe().toPandas()

,summary,AREA,DC,ZONA_LOCALIDAD,MANZANA_ENTIDAD,ID_ZONA_LOCALIDAD,ID_MANZANA_ENTIDAD,PERSONAS_CENSADAS,HOMBRES,MUJERES,...,INMIGRANTES,PUEBLO_INDIGENA,VIVIENDA_PARTICULAR,VIVIENDA_COLECTIVA,VPOMP,TOTAL_VIVIENDAS,NOMBRE_REGION,NOM_PROVINCIA,NOM_COMUNA,NOM_AREA
0,count,180499,180499,180499,180499,180499,180499,180499,180499,180499,...,180499,180499,180499,180499,180499,180499,180499,180499,180499,180499
1,mean,1.1583776087402147,6.552124942520457,11.981224272710651,86.03740740945933,8000.7834891052025,8.989596262495127E12,97.36343691654801,NaN,NaN,...,NaN,NaN,35.936670009252126,0.07103640463382069,30.51784774430883,36.00770641388595,None,None,None,None
2,stddev,0.3650957138475175,6.83759763985495,74.04409910168373,197.67750810087827,4647.858822236974,3.698845669477461E12,149.64786981144547,NaN,NaN,...,NaN,NaN,61.63186705173113,0.41683093230532087,50.22627352152711,61.67884604122962,None,None,None,None
3,min,1,1,1,1,1,1101011001001,0,0.0,0.0,...,0.0,0.0,0,0,0,0,ANTOFAGASTA,ANTOFAGASTA,ALGARROBO,RURAL
4,max,2,99,999,999,16053,15202992999999,9197,NaN,NaN,...,NaN,NaN,2573,65,2238,2575,VALPARAÍSO,ÚLTIMA ESPERANZA,ÑUÑOA,URBANO

In [34]:
# Statistics from a specific column:

df.na.drop().describe('EDAD_0A5').show()

+-------+------------------+
|summary|          EDAD_0A5|
+-------+------------------+
|  count|             55671|
|   mean|13.650320633723123|
| stddev| 20.55632830121984|
|    min|               0.0|
|    max|             432.0|
+-------+------------------+

### Remove NaN:

In [50]:
df.na.drop().toPandas().head()

,AREA,DC,ZONA_LOCALIDAD,MANZANA_ENTIDAD,ID_ZONA_LOCALIDAD,ID_MANZANA_ENTIDAD,PERSONAS_CENSADAS,HOMBRES,MUJERES,EDAD_0A5,...,INMIGRANTES,PUEBLO_INDIGENA,VIVIENDA_PARTICULAR,VIVIENDA_COLECTIVA,VPOMP,TOTAL_VIVIENDAS,NOMBRE_REGION,NOM_PROVINCIA,NOM_COMUNA,NOM_AREA
0,1,1,1,14,7849,1101011001014,160,69.0,91.0,18.0,...,62.0,19.0,75,0,62,75,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
1,1,1,1,16,7849,1101011001016,456,223.0,233.0,39.0,...,40.0,77.0,213,0,163,213,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
2,1,1,1,17,7849,1101011001017,203,111.0,92.0,18.0,...,53.0,49.0,100,1,80,101,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
3,1,1,1,18,7849,1101011001018,132,68.0,64.0,8.0,...,30.0,23.0,72,0,43,72,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO
4,1,1,1,20,7849,1101011001020,54,31.0,23.0,8.0,...,8.0,12.0,23,0,13,23,TARAPACÁ,IQUIQUE,IQUIQUE,URBANO

### Select columns:

In [18]:
df.select('NOM_PROVINCIA').show(5)

+-------------+
|NOM_PROVINCIA|
+-------------+
|      IQUIQUE|
|    TAMARUGAL|
|  ANTOFAGASTA|
|       EL LOA|
|    TOCOPILLA|
+-------------+
only showing top 5 rows

In [19]:
df.select('PROVINCIA').distinct().count(),df.select('PROVINCIA').distinct().show(5)

+---------+
|PROVINCIA|
+---------+
|       54|
|      112|
|      113|
|       22|
|      136|
+---------+
only showing top 5 rows

(54, None)

#### Sort columns:

In [20]:
df.orderBy('PROVINCIA', ascending=False).show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|      152|   PARINACOTA|
|      151|        ARICA|
|      142|        RANCO|
|      141|     VALDIVIA|
|      136|    TALAGANTE|
+---------+-------------+
only showing top 5 rows

In [21]:
# Same command.
df.orderBy(df['PROVINCIA'].desc()).show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|      152|   PARINACOTA|
|      151|        ARICA|
|      142|        RANCO|
|      141|     VALDIVIA|
|      136|    TALAGANTE|
+---------+-------------+
only showing top 5 rows

#### Add columns:

In [22]:
df.withColumn('NEW_PROVINCIA', df['PROVINCIA']/2).show(5)

+---------+-------------+-------------+
|PROVINCIA|NOM_PROVINCIA|NEW_PROVINCIA|
+---------+-------------+-------------+
|       11|      IQUIQUE|          5.5|
|       14|    TAMARUGAL|          7.0|
|       21|  ANTOFAGASTA|         10.5|
|       22|       EL LOA|         11.0|
|       23|    TOCOPILLA|         11.5|
+---------+-------------+-------------+
only showing top 5 rows

In [23]:
df.show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|       11|      IQUIQUE|
|       14|    TAMARUGAL|
|       21|  ANTOFAGASTA|
|       22|       EL LOA|
|       23|    TOCOPILLA|
+---------+-------------+
only showing top 5 rows

#### Drop columns:

In [24]:
df.drop('PROVINCIA').show(5)

+-------------+
|NOM_PROVINCIA|
+-------------+
|      IQUIQUE|
|    TAMARUGAL|
|  ANTOFAGASTA|
|       EL LOA|
|    TOCOPILLA|
+-------------+
only showing top 5 rows

In [25]:
df.show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|       11|      IQUIQUE|
|       14|    TAMARUGAL|
|       21|  ANTOFAGASTA|
|       22|       EL LOA|
|       23|    TOCOPILLA|
+---------+-------------+
only showing top 5 rows

### Data checking:

In [ ]:
#Let us check what are the categories for Product_ID, which are in test file but not in train file by applying subtract

#test.select('Product_ID').subtract(train.select('Product_ID'))

In [28]:
# train.crosstab('Age', 'Gender').show()

#### Drop duplicates:

In [ ]:
# train.select('Age','Gender').dropDuplicates().show()

#### drop NaN:

how– ‘any’ or ‘all’. If ‘any’, drop a row if it contains any nulls. If ‘all’, drop a row only if all its values are null.

thresh – int, default None If specified, drop rows that have less than thresh non-null values. This overwrites the how parameter.

subset – optional list of column names to consider.

In [26]:
df.dropna().count()

54

#### fill NaN:

In [27]:
df.fillna(0) #We will fill NaNs with 0.

DataFrame[PROVINCIA: bigint, NOM_PROVINCIA: string]

### Filter rows:

In [28]:
df.filter(df['PROVINCIA']>50).count()

43

### Group By:

In [84]:
df.groupBy('NOM_PROVINCIA').sum().show(5)

# df.groupBy('NOM_PROVINCIA').agg({'COLUMNA':'operacion'}).show()

+----------------+--------------+
|   NOM_PROVINCIA|sum(PROVINCIA)|
+----------------+--------------+
|       TOCOPILLA|            23|
|ÚLTIMA ESPERANZA|           124|
|          LIMARÍ|            43|
|      PARINACOTA|           152|
|         MALLECO|            92|
+----------------+--------------+
only showing top 5 rows

###  Sorting:

In [83]:
df.sort('PROVINCIA', ascending=False).show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|      152|   PARINACOTA|
|      151|        ARICA|
|      142|        RANCO|
|      141|     VALDIVIA|
|      136|    TALAGANTE|
+---------+-------------+
only showing top 5 rows

### Map operations (& Convert DF into RDD):

In [30]:
# We can apply a function on each row of DataFrame using map operation. 
# After applying this function, we get the result in the form of RDD.

In [31]:
# df.select('PROVINCIA').rdd allows the dataframe to used RDD methods
# To tranform a df into a RDD:
#   rdd = df.rdd.map(list)

df.select('PROVINCIA').rdd.map(lambda x:(x,1)).take(3)

[(Row(PROVINCIA=11), 1), (Row(PROVINCIA=14), 1), (Row(PROVINCIA=21), 1)]

In [32]:
df.select('NOM_PROVINCIA').show()

+--------------------+
|       NOM_PROVINCIA|
+--------------------+
|             IQUIQUE|
|           TAMARUGAL|
|         ANTOFAGASTA|
|              EL LOA|
|           TOCOPILLA|
|             COPIAPÓ|
|            CHAÑARAL|
|              HUASCO|
|               ELQUI|
|              CHOAPA|
|              LIMARÍ|
|          VALPARAÍSO|
|      ISLA DE PASCUA|
|           LOS ANDES|
|             PETORCA|
|            QUILLOTA|
|         SAN ANTONIO|
|SAN FELIPE DE ACO...|
|         MARGA MARGA|
|           CACHAPOAL|
+--------------------+
only showing top 20 rows

### User defined function (udf)

In [33]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

We need to import StringType from the pyspark.sql and udf from the pyspark.sql.functions. The udf function takes 2 parameters as arguments:

- Function (I am using lambda function)
- Return type (in my case StringType())

In [36]:
function = udf(lambda x: x+' lol', StringType())

In [37]:
df.withColumn('NEW_NAME', function(df['NOM_PROVINCIA'])).show()

+---------+--------------------+--------------------+
|PROVINCIA|       NOM_PROVINCIA|            NEW_NAME|
+---------+--------------------+--------------------+
|       11|             IQUIQUE|         IQUIQUE lol|
|       14|           TAMARUGAL|       TAMARUGAL lol|
|       21|         ANTOFAGASTA|     ANTOFAGASTA lol|
|       22|              EL LOA|          EL LOA lol|
|       23|           TOCOPILLA|       TOCOPILLA lol|
|       31|             COPIAPÓ|         COPIAPÓ lol|
|       32|            CHAÑARAL|        CHAÑARAL lol|
|       33|              HUASCO|          HUASCO lol|
|       41|               ELQUI|           ELQUI lol|
|       42|              CHOAPA|          CHOAPA lol|
|       43|              LIMARÍ|          LIMARÍ lol|
|       51|          VALPARAÍSO|      VALPARAÍSO lol|
|       52|      ISLA DE PASCUA|  ISLA DE PASCUA lol|
|       53|           LOS ANDES|       LOS ANDES lol|
|       54|             PETORCA|         PETORCA lol|
|       55|            QUILLOTA|        QUILLOTA lol|
|       56|         SAN ANTONIO|     SAN ANTONIO lol|
|       57|SAN FELIPE DE ACO...|SAN FELIPE DE ACO...|
|       58|         MARGA MARGA|     MARGA MARGA lol|
|       61|           CACHAPOAL|       CACHAPOAL lol|
+---------+--------------------+--------------------+
only showing top 20 rows

### Apply SQL Queries:

 To apply SQL queries on DataFrame first we need to register DataFrame as table

In [39]:
df.registerTempTable('df_table')

The result of SQL query will be a DataFrame

In [45]:
sqlContext.sql('select * from df_table where PROVINCIA > 50').show(5)

+---------+--------------+
|PROVINCIA| NOM_PROVINCIA|
+---------+--------------+
|       51|    VALPARAÍSO|
|       52|ISLA DE PASCUA|
|       53|     LOS ANDES|
|       54|       PETORCA|
|       55|      QUILLOTA|
+---------+--------------+
only showing top 5 rows

In [53]:
sqlContext.sql('select * from df_table order by PROVINCIA desc').show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|      152|   PARINACOTA|
|      151|        ARICA|
|      142|        RANCO|
|      141|     VALDIVIA|
|      136|    TALAGANTE|
+---------+-------------+
only showing top 5 rows

### Saving files

#### To CSV:

#### To HDFS:

#### As Hive table:

### Test:

In [57]:
df.show(5)

+---------+-------------+
|PROVINCIA|NOM_PROVINCIA|
+---------+-------------+
|       11|      IQUIQUE|
|       14|    TAMARUGAL|
|       21|  ANTOFAGASTA|
|       22|       EL LOA|
|       23|    TOCOPILLA|
+---------+-------------+
only showing top 5 rows

#### Get an element:

In [77]:
df.collect()[1][1]

'TAMARUGAL'

In [75]:
df.select('PROVINCIA').show()

+---------+
|PROVINCIA|
+---------+
|       11|
|       14|
|       21|
|       22|
|       23|
|       31|
|       32|
|       33|
|       41|
|       42|
|       43|
|       51|
|       52|
|       53|
|       54|
|       55|
|       56|
|       57|
|       58|
|       61|
+---------+
only showing top 20 rows

In [81]:
df.select(df.columns[1:2]).collect()[2]

Row(NOM_PROVINCIA='ANTOFAGASTA')

In [69]:
rdd = df.rdd.map(list)

In [93]:
rdd.collect()

[[11, 'IQUIQUE'],
 [14, 'TAMARUGAL'],
 [21, 'ANTOFAGASTA'],
 [22, 'EL LOA'],
 [23, 'TOCOPILLA'],
 [31, 'COPIAPÓ'],
 [32, 'CHAÑARAL'],
 [33, 'HUASCO'],
 [41, 'ELQUI'],
 [42, 'CHOAPA'],
 [43, 'LIMARÍ'],
 [51, 'VALPARAÍSO'],
 [52, 'ISLA DE PASCUA'],
 [53, 'LOS ANDES'],
 [54, 'PETORCA'],
 [55, 'QUILLOTA'],
 [56, 'SAN ANTONIO'],
 [57, 'SAN FELIPE DE ACONCAGUA'],
 [58, 'MARGA MARGA'],
 [61, 'CACHAPOAL'],
 [62, 'CARDENAL CARO'],
 [63, 'COLCHAGUA'],
 [71, 'TALCA'],
 [72, 'CAUQUENES'],
 [73, 'CURICÓ'],
 [74, 'LINARES'],
 [81, 'CONCEPCIÓN'],
 [82, 'ARAUCO'],
 [83, 'BIOBÍO'],
 [84, 'ÑUBLE'],
 [91, 'CAUTÍN'],
 [92, 'MALLECO'],
 [101, 'LLANQUIHUE'],
 [102, 'CHILOÉ'],
 [103, 'OSORNO'],
 [104, 'PALENA'],
 [111, 'COYHAIQUE'],
 [112, 'AYSÉN'],
 [113, 'CAPITÁN PRAT'],
 [114, 'GENERAL CARRERA'],
 [121, 'MAGALLANES'],
 [122, 'ANTÁRTICA CHILENA'],
 [123, 'TIERRA DEL FUEGO'],
 [124, 'ÚLTIMA ESPERANZA'],
 [131, 'SANTIAGO'],
 [132, 'CORDILLERA'],
 [133, 'CHACABUCO'],
 [134, 'MAIPO'],
 [135, 'MELIPILLA'],
 [136, 'TALAGANTE'],
 [141, 'VALDIVIA'],
 [142, 'RANCO'],
 [151, 'ARICA'],
 [152, 'PARINACOTA']]

In [94]:
rdd.getNumPartitions()

72

In [97]:
rdd = rdd.repartition(4)

In [98]:
rdd.getNumPartitions()

4